body {
    font-family:'Montserrat', sans-serif;
}

.background {
    margin: 10px 75px;
    background-color: #127731;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 55px;
}

.profile,
.box,
.introduction,
.background {
    background-color: #dcd6ce;
}

.box,
.profile,
.introduction {
    margin: 5px 0px;
    padding: 10px;
}

.box {
    height: 400x;
    width: 48%;
    margin:0px;
}

.contact {
    float: right;
}

select {
    border-radius: 5px;
}

.personal > input,
.contact input,
select,
.introduction input[type="text"]{
    width: 100%;
}

.personal > input,
.birth input,
.contact input,
select {
    height: 25px;
}


.half {
    height: 50px;
    width: 50%;
}


h3 {
    background: #938c96;
    color: #dcd6ce;
    padding: 10px;
}

p {
    font-weight:bold;
}

label {
    font-size: 12px;
}

.sex {
    float: right;
}

.checkbox {
    margin: 0px;
    height: auto;
    width: 50%;
}

.opel {
    float: right;
}

.introduction {
    margin-top: 5px;
    height: auto;
}

.introduction input[type="text"] {
    height: 100px;
}

.reset {
    float: right;
}
