body {
    background-color: #DCD6CD;
}

.background {
    margin: 10px 75px;
    background-color: #127731;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 55px;
}

.box,
.profile,
.introduction {
    background-color: #FFE42E;
    margin: 5px 0px;
    padding: 10px;
}

/* .data {
    display: flex;
    padding: 0px;
    height: 320px;
    width: auto;
} */

.box {
    height: 420px;
    width: 48%;
    margin:0px;
}

.personal {
    float: right;
}


.half {
    border: 1.5px solid black;
    height: 30px;
    width: 50%;
}

.half h4 {
    margin: 0px;
}

.birth {
    float: right;
}

.checkbox {
    margin-top: 15px;
    border:1.5px solid black;
    height: 110px;
    width: 100%;
}


.introduction {
    margin-top: 5px;
    height: 135px;
}
