<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Club Application</title>
</head>
<body>
    <ul>
        <li>
            <a href="">Information</a>
        </li>
        <li>
            <a th:href="@{/nutritionStore/} + ${name}">Nutrition Store</a>
        </li>
        <li>
            <a href="trick.html">Trick Center</a>
        </li>
        <li>Action History</li>
    </ul>
    <img src="C:\Users\Lilla\greenfox\vajdalil\week-07\day-05\fox\src\main\resources\static\greenfox.png"/>
    <p th:text="'This is ' + ${name} + ' . Currently living on ' + ${food} + ' and ' + ${drink} + ' . He knows 2 tricks. '"/>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in JAVA</li>
    </ul>
</body>
</html>