<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
    <title>My todo</title>
</head>
<body style="font-family: 'Indie Flower', cursive;
        background:url(https://lazyscholarproject.files.wordpress.com/2013/04/tiled_image.jpg?w=497)">
<h1>Add new todo</h1>
<form action="#" th:action="@{/todo/create}" th:object="${newTodo}" method="post">
    <input type="text" name="topic" placeholder="Todo..." th:field="*{title}"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>